<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8pFdCI_rSVuAOw4QU-WkxKEITvH2xtd0</string>
	<key>GCM_SENDER_ID</key>
	<string>760357776543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iota</string>
	<key>PROJECT_ID</key>
	<string>iota-f0f8a</string>
	<key>STORAGE_BUCKET</key>
	<string>iota-f0f8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760357776543:ios:dfee8e6a5260bf60ba06aa</string>
</dict>
</plist>